PORT=3000

# URL Cart Service
CART_BASE_URL=https://IharTsykala-cart-api-develop2.eu-central-1.elasticbeanstalk.com

# URL Product Service
PRODUCT_BASE_URL=https://ul03mg0kb5.execute-api.eu-central-1.amazonaws.com/prod
